<div class="list-group">
  <a routerLink="" class="list-group-item  list-group-item-action">HOMEPAGE</a>
  <a routerLink="/committiees" class="list-group-item  list-group-item-action">COMMITTEES</a>
  <a routerLink="/plenaryspeakers" class="list-group-item  list-group-item-action">PLENARY SPEAKERS</a>
  <a routerLink="/invitedspeakers" class="list-group-item  list-group-item-action">INVITED SPEAKERS</a>
  <a routerLink="/topics" class="list-group-item  list-group-item-action">CONFERENCE TOPICS</a>
  <a routerLink="/callforpapers" class="list-group-item  list-group-item-action">CALL FOR PAPERS</a>
  <!--<a routerLink="/journals" class="list-group-item  list-group-item-action">CONFERENCE JOURNALS</a>-->
  <a routerLink="/registration" class="list-group-item  list-group-item-action">REGISTRATION</a>
  <a routerLink="/registrationfee" class="list-group-item  list-group-item-action">REGISTRATION FEE</a>
  <a routerLink="/participants" class="list-group-item  list-group-item-action">PARTICIPANTS</a>
  <a routerLink="/important" class="list-group-item  list-group-item-action">IMPORTANT DATES</a>
  <a routerLink="/accommodation" class="list-group-item  list-group-item-action">ACCOMMODATION</a>
  <a routerLink="/conferencevenue" class="list-group-item  list-group-item-action">CONFERENCE VENUE</a>
  <!--<a routerLink="/sponsors" class="list-group-item  list-group-item-action">SPONSORS</a>-->
  <a routerLink="/trip" class="list-group-item  list-group-item-action">EXCURSION</a>
  <a routerLink="/contact" class="list-group-item  list-group-item-action">CONTACT</a>
</div>

