<h3>CALL FOR PAPERS</h3>

<div class="card">
  <div class="card-header">
    <h4>Guidelines</h4>
  </div>
  <div class="card-block">
    <ul>
      <li>
        Original, unpublished papers are invited for presentation in the conference.
      </li>
      <li>
        Selected and peer reviewed articles will be published in the special issue of some known journals.
      </li>
      <li>
Efforts will also be made to publish the Proceedings of the conference, which will include a selection of the submitted and properly reviewed papers.
      </li>
      <li>
        The papers / abstracts for the conference should preferably be typed in LaTeX format only.
      </li>
      <li>
        The full length paper for the special issue of journals and proceedings should be reached to the convener of the conference not later than <strong>January 31, 2018</strong>.
      </li>
      <li>
        Participants who would like to present a paper should submit an abstract using Registration tab latest by <strong>October 15, 2017</strong>.
      </li>
    </ul>
  </div>
</div>

<ng2-adsense style="position: absolute; bottom: 0px;">
</ng2-adsense>


