<h3>INVITED SPEAKERS</h3>
<div class="card">
  <!--<div class="card-header">INVITED SPEAKERS</div>-->
  <div class="card-block" *ngIf="invitedSpeakers">
    <div *ngFor="let speaker of invitedSpeakers | async | sortBy; let f = index">
      <div *ngIf="speaker.name.includes('Prof.')">
        {{f}}. {{speaker.name}} ({{speaker.location}}) <span class="flag-icon flag-icon-{{speaker.flag}} flag-icon-squared"></span>
      </div>
    </div>
    <div *ngFor="let speaker of invitedSpeakers | async | sortBy">
      <div *ngIf="speaker.name.includes('Dr.')">
        42. {{speaker.name}} ({{speaker.location}}) <span class="flag-icon flag-icon-{{speaker.flag}} flag-icon-squared"></span>
      </div>
    </div>
  </div>
</div>