<h3>INVITED SPEAKERS</h3>
<div class="card">
  <!--<div class="card-header">INVITED SPEAKERS</div>-->
  <div class="card-block">
  <ol>
    <li>
      Prof. T. Acer (Kirikkale, Turkey) <span class="flag-icon flag-icon-tr flag-icon-squared"></span>
    </li>
    <li>
      Prof. S. Adly (Limoges, France)<span class="flag-icon flag-icon-fr flag-icon-squared"></span>
    </li>
    <li>
      Prof. M. Balaj (Oradea, Romania) <span class="flag-icon flag-icon-ro flag-icon-squared"></span>
    </li>
    <li>
      Prof. N.L. Braha (Prishtine, Kosova)
    </li>
    <li>
      Prof. H. Chandra (Varanasi, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. S. Chebbi (Riyadh, Saudi Arabia)<span class="flag-icon flag-icon-sa flag-icon-squared"></span>
    </li>
    <li>
      Prof. C.E. Chidume (Abuja, Nigeria)<span class="flag-icon flag-icon-ng flag-icon-squared"></span>
    </li>
    <li>
      Prof. G. Das (Bhubaneswar, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. J. Dutta (Kanpur, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. M. Ehrgott (Lancaster, United Kingdom)<span class="flag-icon flag-icon-gb flag-icon-squared"></span>
    </li>
    <li>
      Prof. A.P. Farajzadeh (Kermanshah, Iran)<span class="flag-icon flag-icon-ir flag-icon-squared"></span>
    </li>
    <li>
      Prof. A. Hamel (Rio De Janeiro, Brazil)<span class="flag-icon flag-icon-br flag-icon-squared"></span>
    </li>
    <li>
      Prof. P.K. Jain (Delhi, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. P. Jain (Delhi, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. M. Ehrgott (Lancaster, United Kingdom)<span class="flag-icon flag-icon-gb flag-icon-squared"></span>
    </li>
    <li>
      Prof. D.S. Kim (Busan, South Korea)<span class="flag-icon flag-icon-kr flag-icon-squared"></span>
    </li>
    <li>
      Prof. S. H. Kulkarni (Chennai, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. C.S. Lalitha (Delhi, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. J. Li (Ohio, USA)<span class="flag-icon flag-icon-us flag-icon-squared"></span>
    </li>
    <li>
      Prof. L.-J. Lin (Changhua, Taiwan)<span class="flag-icon flag-icon-tw flag-icon-squared"></span>
    </li>
    <li>
      Prof. A. Lohne (Halle, Germany)<span class="flag-icon flag-icon-de flag-icon-squared"></span>
    </li>
    <li>
      Prof. E. Malkowsky (Giessen, Germany)<span class="flag-icon flag-icon-de flag-icon-squared"></span>
    </li>
    <li>
      Prof. A. Mehra (Delhi, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. S.K. Mishra (Varanasi, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. V. Roomi (Tabriz, Iran)<span class="flag-icon flag-icon-ir flag-icon-squared"></span>
    </li>
    <li>
      Prof. D.R. Sahu (Varanasi, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. M. SolemaniDamaneh(Tehran,Iran)<span class="flag-icon flag-icon-ir flag-icon-squared"></span>
    </li>
    <li>
      Prof. M.A. Sofi (Srinagar, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. T. Som (Varanasi, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. S. Sundar (Chennai, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. P. Veeramani (Chennai, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. N.D. Yen (Hanoi, Vietnam)<span class="flag-icon flag-icon-vn flag-icon-squared"></span>
    </li>
  </ol>
  </div>
</div>