<h3>REGISTRATION FEE</h3>

<div class="card">
    <div class="card-block">
<ul><li><strong>For Indian and SAARC Nationals:</strong>
<ul><li>Research Scholars/Students:	{{2500 | currency:&#39;INR&#39;:true}}  </li>
<li>Faculty Members:	 {{3000 | currency: &#39;INR&#39;:true}}</li></ul></li> <li>
<strong>Foreign Delegates/Participants:	{{250 | currency: &#39;USD&#39;:true}}</strong>
</li> <li>Registration fee last date: October 15, 2017</li></ul>

<p><strong>Late Registration Fee (After October 15, 2017):</strong></p> <ul><li><strong>For Indian and SAARC Nationals:</strong>
<ul><li>Research scholars/Students:	{{3000 | currency:&#39;INR&#39;:true}}  </li>
<li>Faculty Members:	 {{3500 | currency: &#39;INR&#39;:true}}</li></ul></li> <li>
<strong>Foreign Delegates/Participants:	{{300 | currency: &#39;USD&#39;:true}}</strong>
</li> </ul>
<p>
The registration fee has to be sent by Demand Draft in favour of <strong>Convener, 
ICAA-2017</strong> payable at <strong>Aligarh</strong> by <strong>October 15, 2017</strong>. 
The registration fee covers the conference kit including the volume of abstracts, information and official materials, dinners, lunches and coffee / tea during the conference.
</p>
    </div>
</div>


<ng2-adsense style="position: absolute; bottom: 0px;">
</ng2-adsense>