<form>
  <fieldset>
    <legend>Admin Login</legend>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" name="email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" name="password">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
  </fieldset>
</form>


<ng2-adsense style="position: absolute; bottom: 0px;">
</ng2-adsense>