<h3>CONTACT</h3>

<div class="card">
    <div class="card-block">
        <img src="../assets/images/Convener.jpg" class="mb-3">
<h5><strong>Prof. Rais Ahmad</strong> (Convener)</h5>
<h6>Department of Mathematics</h6>
<h6>Aligarh Muslim University, Aligarh-202002, India</h6>
<label>Phone:</label>
<ul>
    <li>
        <i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:+91-9997561075"> +91-9997561075(M)</a>
    </li>
    <li>
        <i class="fa fa-mobile" aria-hidden="true"></i> <a href="tel:+91-8958930172"> +91-8958930172(R)</a>
    </li>
    <li>
        <i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+91-571-2700920"> +91-571-2700920 (Ext. 1824) (O)</a>
    </li>
</ul>
<label>Email:</label>
<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:raisain_123@rediffmail.com">raisain_123@rediffmail.com</a>
</div>
</div>

<ng2-adsense style="position: absolute; bottom: 0px;">
</ng2-adsense>