<h3>Excursion</h3>

<div class="card">
  <div class="card-header">Trip to Agra</div>
  <div class="card-block">
    <p>
       A trip to Agra (The Taj Mahal) will be organized on November 23, 2017 (On payment)
    </p>
    <img class="d-block img mb-3" src="../assets/images/agra.jpg" alt="Tajmahal" width="100%" height="350">
    <iframe width="100%" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCzw0hexI7NwFB_pH6K1DrF-pndOFZb4T4&q=place_id:ChIJbf8C1yFxdDkR3n12P4DkKt0" allowfullscreen></iframe>
  </div>
</div>

<ng2-adsense style="position: absolute; bottom: 0px;">
</ng2-adsense>
