<h3>
  COMMITTEES
</h3>

<div class="card mb-4" *ngIf="localmembers">
  <div class="card-header">
    LOCAL ORGANISING COMMITTEE
  </div>
  <div class="card-block">
    <ol>
      <li *ngFor="let lm of localmembers | async; let l = last">
        <div *ngIf="l">
          <strong>
            {{lm.name}} <span *ngIf="lm.designation">{{lm.designation}}</span>  
          </strong>  
        </div>
        <div *ngIf="!l">
          {{lm.name}} <span *ngIf="lm.designation">{{lm.designation}}</span>
        </div>
      </li>
    </ol>
  </div>
</div>

<div class="card" *ngIf="intmembers">
  <div class="card-header">INTERNATIONAL ADVISORY COMMITTEE</div>
  <div class="card-block">
    <ol>
      <li *ngFor="let im of intmembers | async">
        {{im.name}} ({{im.location}})<span class="flag-icon flag-icon-{{im.flag}} flag-icon-squared"></span>
      </li>
    </ol>
  </div>
</div>