<h3>
  COMMITTEES
</h3>

<div class="card mb-4">
  <div class="card-header">
    LOCAL ORGANISING COMMITTEE
  </div>
  <div class="card-block">
    <ol>
    <li>
      Mr. Vice-Chancellor (Patron)
    </li>
    <li>
      Prof. M. Mursaleen (Coordinator, DRS-SAP)
      (Chairman, Dept. of Mathematics)
    </li>
    <li>
      Prof. Mohd Imdad
    </li>
    <li>
      Prof. Mohd. Ashraf
    </li>
    <li>
      Prof. Qamrul Hasan Ansari
    </li>
    <li>
      Prof. Alveera Mehdi (Women’s College)
    </li>
    <li>
      Prof. Shahid Ali
    </li>
    <li>
      Prof. Noor Mohd. Khan
    </li>
    <li>
      Prof. Viqar Azam Khan
    </li>
    <li>
      Prof. Asma Ali
    </li>
    <li>
      Prof. Kaleem Raza Kazmi
    </li>
    <li>
      Prof. Subuhi Khan
    </li>
    <li>
      Prof. Md. Kalimuddin Ahmad
    </li>
    <li>
      Prof. Absos Ali Shaikh
    </li>
    <li>
      Dr. Nadeemur Rehman
    </li>
    <li>
      Dr. Vakeel A. Khan
    </li>
    <li>
      Dr. Shakir Ali
    </li>
    <li>
      Dr. Asif Khan
    </li>
    <li>
      Dr. Wajih Ashraf
    </li>
    <li>
      Dr. Musavvir Ali
    </li>
    <li>
      Dr. Nusrat Raza (Women’s College)
    </li>
    <li>
      Dr. Qamrul Haque Khan
    </li>
    <li>
      Dr. Javid Ali
    </li>
    <li>
      Dr. Muzibur Rahman Mozumdar
    </li>
    <li>
      Dr. Akhlad Iqbal
    </li>
    <li>
      Dr. Abdur Raheem
    </li>
    <li>
      Dr. Mohd. Aslam Siddeequi
    </li>
    <li>
      <strong>Prof. Rais Ahmad (Convener)</strong>
    </li>

  </ol>
  </div>
</div>

<div class="card">
  <div class="card-header">INTERNATIONAL ADVISORY COMMITTEE</div>
  <div class="card-block">
  <ol>
    <li>
      Prof. R.P. Agarwal (Florida, USA)<span class="flag-icon flag-icon-us flag-icon-squared"></span>
    </li>
    <li>
      Prof. B.K. Das (Delhi, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. F. Flores-Bazan (Concepcion, Chile)<span class="flag-icon flag-icon-cl flag-icon-squared"></span>
    </li>
    <li>
      Prof. F. Giannessi (Pisa, Italy)<span class="flag-icon flag-icon-it flag-icon-squared"></span>
    </li>
    <li>
      Prof. M. Joshi (Gandhi Nagar, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. V. Karakaya (Istanbul, Turkey)<span class="flag-icon flag-icon-tr flag-icon-squared"></span>
    </li>
    <li>
      Prof. E. Karapinar (Ankara, Turkey)<span class="flag-icon flag-icon-tr flag-icon-squared"></span>
    </li>
    <li>
      Prof. S. Kesavan  (Chennai, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. A. Kilicman (Putrajaya, Malaysia)<span class="flag-icon flag-icon-my flag-icon-squared"></span>
    </li>
    <li>
      Prof. L. Kocinac (Nis, Serbia)<span class="flag-icon flag-icon-rs flag-icon-squared"></span>
    </li>
    <li>
      Prof. G. Marino (Arcavacata di Rende, Italy)<span class="flag-icon flag-icon-it flag-icon-squared"></span>
    </li>
    <li>
      Prof. B. Mordukhovich (Detroit, USA)<span class="flag-icon flag-icon-us flag-icon-squared"></span>
    </li>
    <li>
      Prof. D.V. Pai (Gandhi Nagar, India)<span class="flag-icon flag-icon-in flag-icon-squared"></span>
    </li>
    <li>
      Prof. J.-C. Yao (Kaohsiung, Taiwan)<span class="flag-icon flag-icon-tw flag-icon-squared"></span>
    </li>
  </ol>
  </div>
</div>

<ng2-adsense style="position: absolute; bottom: 0px;">
</ng2-adsense>
