<div class="card" *ngIf="plenary">
  <h3 class="card-header">International Committee Member Form</h3>
  <div class="card-block">
    <form>
      <fieldset>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Name" [(ngModel)]="plenary.name" name="name">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" placeholder="Enter Location" [(ngModel)]="plenary.location"
            name="location">
        </div>
        <div class="form-group">
          <label for="id">Flag Code</label>
          <input type="text" class="form-control" id="description" placeholder="Enter Flag Code" [(ngModel)]="plenary.flag"
            name="flag">
        </div>
        <div *ngIf="addPlenary==false">
          <button type="submit" class="btn btn-primary" (click)="updateInvited()">Update</button>
          <button type="submit" class="btn btn-danger" (click)="deleteInvited()">Delete</button>
        </div>
        <div *ngIf="addPlenary==true">
          <button type="submit" class="btn btn-primary" (click)="addNew()">Add</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<p *ngIf="msg" class="text-success">{{msg}}</p>
<p *ngIf="msg1" class="text-danger">{{msg1}}</p>