<h3>CONFERENCE TOPICS</h3>

<div class="card">
  <div class="card-header">
  All topics related to analysis and its applications, including, but not limited to:
  </div>
  <div class="card-block">
<ul>
  <li>
    Nonlinear Analysis
  </li>
  <li>
    Operator Theory
  </li>
  <li>
    Fixed Point Theory
  </li>
  <li>
    Sequence Spaces and Matrix Transformations
  </li>
  <li>
    Modern Methods in Summability and Approximation Theory
  </li>
  <li>
    Set-valued Analysis
  </li>
  <li>
    Variational Analysis including Variational Inequalities
  </li>
  <li>
    Convex Analysis
  </li>
  <li>
    Smooth and Non-smooth Analysis
  </li>
  <li>
    Wavelet Analysis
  </li>
  <li>
    Fourier Analysis
  </li>
</ul>
  </div>
</div>


<ng2-adsense style="position: absolute; bottom: 0px;">
</ng2-adsense>