<h3>CONFERENCE VENUE</h3>
<div class="card">
    <div class="card-header">
<h4>ICAA-2017</h4><p>(Under UGC -DRS SAP-II Program)</p>
    </div>
    <div class="card-block">
<h5>Department of Mathematics</h5>
<p>Aligarh Muslim University, Aligarh, India</p>

<iframe width="100%" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCzw0hexI7NwFB_pH6K1DrF-pndOFZb4T4&q=place_id:ChIJhTtoxfykdDkRKMyttQvvUVU" allowfullscreen></iframe>
    </div>
</div>

<ng2-adsense style="position: absolute; bottom: 0px;">
</ng2-adsense>