<h3>PLENARY SPEAKERS</h3>

<div class="row mt-3">
  <div class="col-lg-4 col-md-6 col-sm-6 mb-4" *ngFor="let plenary of plenaries | async">
    <div class="card">
      <img class="card-img-top" src="{{plenary.photoUrl}}">
      <div class="card-block">
        <h5 class="card-title">{{plenary.name}}</h5>      
        <p class="card-text">{{plenary.location}} <span class="flag-icon flag-icon-{{plenary.flag}} flag-icon-squared"></span></p>  
      </div>
    </div>
  </div>
</div>
<ng2-adsense style="position: absolute; bottom: 0px;">
</ng2-adsense>