<h3>ACCOMMODATION</h3>
<div class="card">
    <div class="card-header">Accommodation for participants</div>
    <div class="card-block">
<p>
     Since the limited accommodation is available in the university guest houses, 
    only selected participants will be provided twine basis free accommodation. 
    However, if the funds are made available, all participants may be provided twine basis free accommodation in the university guest houses or hotels.
    <strong> Participants are urged to make their own arrangements towards their travel expenses.</strong>
     Foreign delegates shall be provided transportation from Indira Gandhi International Airport, New Delhi to Aligarh. In case some additional funds are made available, the organizing committee may provide traveling allowances to some of the selected Indian participants.
</p>
<p><strong>The participants who will register after October 15, 2017, are requested to arrange their own accomodation.</strong></p>
    </div>
</div>

<ng2-adsense style="position: absolute; bottom: 0px;">
</ng2-adsense>