<h3>CONFERENCE JOURNALS</h3>

<p>Abstracts of All presented studies will be published in the Abstract Book of the Conference.</p>

<p>
  After conference, authors of presented papers can submit their papers to following conference journals. Submitted papers will be considered for publication(after review and journal requirements) in the following journals. Submission guidelines to journals will be announced in the next.
</p>

<ol>
  <li>Maejo International Journal of Science and Technology(SCI-E)</li>
  <li>Maejo International Journal of Science and Technology(SCI-E)</li>
  <li>Maejo International Journal of Science and Technology(SCI-E)</li>
  <li>Maejo International Journal of Science and Technology(SCI-E)</li>
  <li>Maejo International Journal of Science and Technology(SCI-E)</li>
</ol>

<ng2-adsense style="position: absolute; bottom: 0px;">
</ng2-adsense>

